/*Si se usa el nombre de la etiqueta ej:body, h1, p, todos los elementos que tengan dicha etiqueta tomaran el estilo que se le proporcione*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #7ce5e9;
    color: #333;
    margin: 20px;
  }


/*El "." se usa para determinar una clase en especifico y que unicamente los elementos con dicha clase tomen los estilos definidos*/

.title {
    font-size: 2.5em;
    color: rgb(44, 11, 33);
    font-style: initial;
}

.logo {
    width: 250px;
    height: 250px;
}

.cards{
    border: 2px solid black;
    width: fit-content;
    padding: 1em 1em 2em 1em;
    border-radius: 10%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.cards:hover{
    background-color: rgb(134, 145, 245);

}


/*Se usa el # para declarar el estilo de css que es un ID*/
/*Los ID toman los atributos generales de la clase pero se le pueden agregar otros adicionales que no tendran la clase sino ese unico id*/

#principal {
    font-size: 3.5em;
}

#titulos{
    /* Viewport width */
    width: 60vw;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

#cards-container{
    width: 85%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 5em;
    border: 5px solid rgb(207, 147, 147);
    border-radius: 8%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}